<%= form_with(model: station, local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :railway_name %>
    <%= form.text_field :railway_name %>
  </div>

  <div class="field">
    <%= form.label :station_name %>
    <%= form.text_field :station_name %>
  </div>

  <div class="field">
    <%= form.label :minutes_to_walk %>
    <%= form.number_field :minutes_to_walk %>
  </div>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.text_field :building_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
