<%= form_with(model: @building_station, local: true) do |form| %>


  <div class="field">
    <%= form.label :railway_name %>
    <%= form.text_field :railway_name %>
  </div>

  <div class="field">
    <%= form.label :station_name %>
    <%= form.text_field :station_name %>
  </div>

  <div class="field">
    <%= form.label :minutes_to_walk %>
    <%= form.number_field :minutes_to_walk %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
