<p id="notice"><%= notice %></p>

<p>
  <strong>Railway name:</strong>
  <%= @station.railway_name %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @station.station_name %>
</p>

<p>
  <strong>Minutes to walk:</strong>
  <%= @station.minutes_to_walk %>
</p>

<p>
  <strong>Building:</strong>
  <%= @station.building.name %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
