<%= form_for @building do |form| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rental_fees %>
    <%= form.number_field :rental_fees %> Yen
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :build_year %>
    <%= form.number_field :build_year %> year
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_area :remark %>
  </div>
  <hr>

  <h3><%= station_message %></h3>
  <%= form.fields_for :stations do |builder| %>
    <%= render 'station_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields 'Add Stations', form, :stations %>
  <hr>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $('form').on('click', '.add_fields', function(event){
    console.log('clicked!')
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>
