<div>
  <div class="field">
    <%= f.label :station_number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :railway_name %>
    <%= f.text_field :railway_name %>
  </div>

  <div class="field">
    <%= f.label :station_name %>
    <%= f.text_field :station_name %>
  </div>

  <div class="field">
    <%= f.label :minutes_to_walk %>
    <%= f.number_field :minutes_to_walk %> minutes
  </div>
</div>
<hr>
