<div class="field">
  <%= builder.label :railway_name %>
  <%= builder.text_field :railway_name %>
</div>

<div class="field">
  <%= builder.label :station_name %>
  <%= builder.text_field :station_name %>
</div>

<div class="field">
  <%= builder.label :minutes_to_walk %>
  <%= builder.number_field :minutes_to_walk %>
</div>
